.todoItem{
 display: flex;
 align-items: center;
 width: 80%;
 background-color: white;
 margin: 6px 4px;
 height: 40px;
 border-radius: 10px;
}
.item-check{
    display: flex;
    align-items: center;
    flex: 1;
}

.edit{
 
    background-color:teal;
    color: white;
    border: none;
    border-radius: 10px;
    height: 30px;
    padding: 0 10px;
    box-shadow: 0 2px 2px 0 black;
}
.del{
 
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 10px;
    height: 30px;
    padding: 0 10px;
    box-shadow: 0 2px 2px 0 black;
}